.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-image: url("../Images/bulding_bg_smaller.png");
}

.Logo {
  height: 75px;
  width: auto;
  margin-right: 1rem;
}

.rectangle {
  display: inline-block;
  width: auto;
  height: auto;
  background: darkred;
  border-radius: 25px;
  margin-right: 10rem;
}

#navB {
  background-color: white !important;
}

.nav-link {
  color: white !important;
}

.test {
  padding-left: 1.5rem !important;
}
