.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-image: url("../Images/bulding_bg_smaller.png") !important;
}

.Logo {
  height: 75px;
  width: auto;
  margin-right: 1rem;
}

.rectangle {
  display: inline-block;
  width: auto;
  height: auto;
  background: darkred;
  border-radius: 25px;
  margin-right: 10rem;
}

#navB {
  background-color: white !important;
}

.nav-link {
  color: white !important;
}

.nav-left {
  /*margin-right: 100px;
  margin-left: 50px;*/
  padding-left: 2rem !important;
  padding-right: 3rem !important;
}

nav {
  filter: drop-shadow(0 0 0.2rem #000000);
}

.Slideshow {
  height: 1500px;
  width: auto;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;

  background-image: none;
} */

/* .carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
} */

span.carousel-control-next-icon {
  background-color: #000000;
}
span.carousel-control-prev-icon {
  background-color: #000000;
}
